/*css reset*/
*
/*css variable*/
:root{
    --navbar-height : 59px;
}
#navbar{
    display: flex;
    align-items: center;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
  z-index: -1;
  opacity: 0.4;
   
}

/* Navigation bar : logo and images*/
#logo{
    margin: 10px 34px;;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
}

/* Navigation bar : list style*/
#navbar{
    position: absolute;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai',cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
display: block;
padding: 3px 22px;
border-radius: 20px;
text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
  height: 511px;
  
}
#home::before{
    content: "";
    background: url(home.jpeg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
  z-index: -1;
  opacity: 0.89;

}
/*Services center*/
#services{
margin: 34px;
display: flex;    
}
#services .box{
    
    border: 2px solid red;
    padding: 34px;
    margin: 3px 6px;
   height: 300px;
    border-radius: 28px;
    background-color: rgb(228, 217, 217);
}
#services .box img{
    height: 100px   ;
    margin: auto;
    display: block;
}
#services .box .h-secondary{
    font-size: 1.5rem;
}
#services .box .center{
    font-size: 1.1rem;
}
#services .box p{

    
    font-family: 'Bree Serif', serif;    
    
}


/*utility class*/
#home h1{
    color: white;
    text-align: center;
    font-size: 1.5rem;
font-family: 'Bree Serif', serif;
}
#home p{
    color:white;
}
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: red;
    color: white;
    margin: 17px;
    font-size: 1.1rem;
    border-radius: 15px;
    cursor: pointer;
}
.center{
    text-align: center;
}